@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-white: #F8F8F8;
  --nebula-orange: rgb(173, 121, 95);
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

@media (max-width: 2000px) {
  .menu {
      top: 50%;
      transform: translateY(-50%);
  }
}

.menu {
  border: 1px solid rgb(143, 141, 133);
  border-radius: 30px;
  position: fixed;
  left: 68px;
  top: 322px;
  width: 55px;
  text-align: center;
  padding: 24px 0;
  z-index: 20;
}

.menu.mobile {
  left: 12px;
  top: 138px;
}

/************************************************************
                  Resume Timeline Styling
*************************************************************/

.timeline-item {
  margin-bottom: 50px;
  transform: translateX(-100px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.timeline-item.in-view {
  opacity: 1;
  transform: translateX(0);
}

.timeline-content {
  padding: 20px;
  padding-top: 0;
  border-radius: 6px;
  color: var(--text--white);

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.timeline-content p {
  margin: 0;
}

.timeline-content::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--text-white);
  border-radius: 50%;
  left: -48px;
  top: 7px;
  transition: .3s;
}

.timeline-content:hover::before {
  background-color: var(--nebula-orange);
}

.timeline-content::after {
  content: '';
  background: #333333;
  width: 1px;
  height: 145%;
  position: absolute;
  left: -43px;
  top: 10px;
  z-index: -1;
}
