@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
  --primary-color: #A8DADC;
  --secondary-color: #457B9D;
  --background-color: #F1FAEE;
  --text-color: #E63946;
  --accent-color: #E63946;


  --orange-rgb: 176, 107, 67;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  position: relative;
}

{{/* nav {
  background: transparent;
} */}}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

#home {
  background-image: url("/a-sky-view-of-earth-from-suomi-npp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
